@font-face {
    font-family: 'Omes v3 FM';
    src: url('Omesv3FM-Bold.eot');
    src: url('Omesv3FM-Bold.eot?#iefix') format('embedded-opentype'),
        url('Omesv3FM-Bold.woff2') format('woff2'),
        url('Omesv3FM-Bold.woff') format('woff'),
        url('Omesv3FM-Bold.ttf') format('truetype'),
        url('Omesv3FM-Bold.svg#Omesv3FM-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* font-family: 'AlenbiSans'; */

@font-face {
    font-family: 'AlenbiSans';
    src: url('AlenbiSans-Bold.eot');
    src: url('AlenbiSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('AlenbiSans-Bold.woff2') format('woff2'),
        url('AlenbiSans-Bold.woff') format('woff'),
        url('AlenbiSans-Bold.ttf') format('truetype'),
        url('AlenbiSans-Bold.svg#AlenbiSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('AlenbiSans-Regular.eot');
    src: url('AlenbiSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('AlenbiSans-Regular.woff2') format('woff2'),
        url('AlenbiSans-Regular.woff') format('woff'),
        url('AlenbiSans-Regular.ttf') format('truetype'),
        url('AlenbiSans-Regular.svg#AlenbiSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('AlenbiSans-Light.eot');
    src: url('AlenbiSans-Light.eot?#iefix') format('embedded-opentype'),
        url('AlenbiSans-Light.woff2') format('woff2'),
        url('AlenbiSans-Light.woff') format('woff'),
        url('AlenbiSans-Light.ttf') format('truetype'),
        url('AlenbiSans-Light.svg#AlenbiSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('AlenbiSans-Medium.eot');
    src: url('AlenbiSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('AlenbiSans-Medium.woff2') format('woff2'),
        url('AlenbiSans-Medium.woff') format('woff'),
        url('AlenbiSans-Medium.ttf') format('truetype'),
        url('AlenbiSans-Medium.svg#AlenbiSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlenbiSans';
    src: url('AlenbiSans-Black.eot');
    src: url('AlenbiSans-Black.eot?#iefix') format('embedded-opentype'),
        url('AlenbiSans-Black.woff2') format('woff2'),
        url('AlenbiSans-Black.woff') format('woff'),
        url('AlenbiSans-Black.ttf') format('truetype'),
        url('AlenbiSans-Black.svg#AlenbiSans-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

