.header .logo_text h3 span{
   color:#70ba65;
}
.ui_light .header,
.ui_light nav ul li ul {
   background-color: #FFF;
}
.ui_light .header .logo_text h3,
.ui_light nav ul li.nav_link a{
   color:#00283A;
}
.ui_light{
background-color: #F4F5F7;
}
nav ul li.current-item::after {
   background-color: #70ba65;
}
.ui_light .mode-switcher i{
   color:#00283A;
}
